/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  text-align: center;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin: 2em 0;
  padding: 0;
}

.posts li {
  line-height: 1.75em;
  margin-bottom: 5px;
}

.posts li a,
.posts li a:active,
.posts li a:visited {
  color: #444;
  font-family: 'Droid Serif', serif;
  text-decoration: none;
}

.posts li a:hover {
  text-decoration: underline;
}

.posts span {
  background-color: #aaa;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  padding: 5px 10px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  background-color: #444;
  color: #aaa;
  font-size: 11px;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 10px;
  width: 80px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

body {
  background-image: url(../img/background.png);
  color: #444;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 22px;
}

#page {
  margin: 0 auto;
  position: relative;
  width: 980px;
}

header {
  left: 50%;
  margin-left: -465px;
  position: fixed;
  top: 0;
  width: 274px;
}

header > hgroup {
  background-color: #f3f3f3;
  padding: 45px 44px;
}

header > hgroup > img {
  border: 5px solid #fff;
  border-radius: 100px;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, .45);
}

#content {
  background-color: #f3f3f3;
  padding: 45px 44px;
  position: absolute;
  right: 25px;
  width: 518px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: normal;
  margin: 5px 0 0;
}

h2 {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

h3 {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

h4 {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 31px solid #F3F3F3;
  border-left: 274px solid transparent;
}

article {
  background-position: -50px -150px;
  margin-bottom: 45px;
}

.social {
  margin-top: 20px;
}

.social a {
  color: #666;
}

.social a:hover {
  color: #444;
}

/*article > .quote:before{
  content:url(../img/post-quote.png);
  display:block;
  position:absolute;
  left: -30px;
}

article > .photo:before{
  content:url(../img/post-photo.png);
  display:block;
  position:absolute;
  left: -30px;
}

article > .link:before{
  content:url(../img/post-link.png);
  display:block;
  position:absolute;
  left: -30px;
}

article > .chat:before{
  content:url(../img/post-chat.png);
  display:block;
  position:absolute;
  left: -30px;
}

article > .audio:before{
  content:url(../img/post-audio.png);
  display:block;
  position:absolute;
  left: -30px;
}

article > .text:before{
  content:url(../img/post-text.png);
  display:block;
  position:absolute;
  left: -30px;
}*/
