/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: hsl(0, 0%, 27%);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: hsl(0, 0%, 20%);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: hsl(0, 0%, 100%);
  border: 0.05rem solid hsl(0, 0%, 100%);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 0;
}

body {
  display: flex;
  color: hsl(189, 10%, 14%);
}

header {
  background: hsl(353, 100%, 61%);
  background: linear-gradient(90deg, hsl(353, 100%, 61%) 0%, hsl(0, 92%, 19%) 100%);
  flex: 1;
}

.navbar {
  flex: 1;
}

main {
  background-size: cover;
  flex: 10;
  position: relative;
}

main > picture {
  width: 70em;
}

footer {
  background: hsl(0, 0%, 100%);
  flex: 1;
  z-index: 1;
}

footer .btn:hover {
  border: 1px solid hsl(0, 0%, 27%);
  box-shadow: hsl(0, 92%, 19%) 5px 5px;
}

footer .btn:active {
  border: 1px solid hsl(0, 0%, 27%);
  box-shadow: hsl(208, 38%, 85%) 3px 3px 6px 0px inset, hsla(0, 0%, 100%, 0.5) -3px -3px 6px 1px inset;
}

.nav-link {
  color: hsl(0, 0%, 100%);
}

.nav-link:hover {
  color: hsl(0, 0%, 90%);
}

.title {
  background-size: cover;
  color: hsl(189, 10%, 14%);
  height: 13em;
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.title > h1 {
  font-size: 3em;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.blog-list > li {
  list-style: none;
}

/*
 * Dark mode styles
 */

@media (prefers-color-scheme: dark) {
  main, footer {
    background: hsl(189, 10%, 14%);
    color: hsl(0, 0%, 100%);
  }

  .title {
    color: hsl(0, 0%, 100%);
  }
}
