<!-- Menu-->
<div class="overlay-menu">
    <div class="menu-table">
        <div class="menu-table-cell">
            <ul class="navigation">
                <li><a href="/index.html">Profile</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/blog">Journal</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Menu end-->
