<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="Gonzalo's Personal Web Site">
        <meta name="viewport" content="width=device-width">
        <link rel="author" href="https://plus.google.com/115949317569784788484/posts">
        <link href="/atom.xml" rel="alternate" title="Atom" type="application/atom+xml">
        <link href="/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <section id="page" role="main">

            <header>
                <hgroup>
                    <img id="profilePic" src="/img/gonzalo-robaina.png" alt="Gonzalo Robaina">
                    <h1>Gonzalo Robaina</h1>
                    <h2>Web Applications Developer</h2>
                    <div class="social">
                      <a href="http://twitter.com/gonzalorobaina" title="Twitter">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="http://lnkedin.com/in/gonzalorobaina" title="Linkedin">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="https://www.facebook.com/GonzaloRobaina" title="Facebook">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="https://github.com/pepito2k" title="Github">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="https://plus.google.com/u/0/+GonzaloRobaina" title="Google+">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="http://www.flickr.com/photos/gonzalo-robaina/" title="Flickr">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="http://www.youtube.com/user/pepito2k" title="Youtube">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span></a>
                      <a href="https://bitbucket.org/pepito2k" title="Bitbucket">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                        </span></a>
                    </div>
                </hgroup>
                <div class="triangle"></div>
            </header>

            <section id="content">

                {{ content }}

            </section>
        </section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-129786-12'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
