<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container-fluid p-0 d-flex flex-column justify-content-between">
      {% include header.html %}
      <main class="d-flex justify-content-center">
        <picture class="d-flex justify-content-center">
          <source media="(prefers-color-scheme: dark) and (max-width:800px)" srcset="/assets/gonza-dark-m.svg">
          <source media="(prefers-color-scheme: dark)" srcset="/assets/gonza-dark.svg">
          <source media="(max-width:800px)" srcset="/assets/gonza-m.svg" type="image/svg+xml">
          <img src="/assets/gonza.svg" alt="Gonza Robaina" class="w-50" />
        </picture>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
